<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/mpoi.css}" />
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />

</head>

<body class="bodym">

	<h2 class="titulos">Tus puntos de interes</h2>
	<div class="form-group row" th:each="p : ${pois}">

		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<div class="card mb-3" id="carta">
				<img th:src="*{'data:;base64,'+p.imagen}" class="card-img-top icon" alt="No contiene imagen">
				<div class="card-body">
					<h5 class="card-title" th:text="${p.nombre}">name</h5>
					<p class="card-text" th:text="${p.descripcion}">descrip</p>
					<p class="card-text" th:text="${p.etiqueta}"><small class="text-muted">etiqueta</small></p>
					<a id="button" th:href="@{'/poi/editar/'+${p.codPoI}}">
						Editar
					</a>
				</div>
			</div>

		</div>
	</div>




</body>












</html>